<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1> Vraag 1: Wat is mijn vraag? Dit is een extra test om te kijken wat er gebeurd</h1>
        <h2> Test van mijn github</h2>
    </header>

    <main>
        <div>
            <button> Ik ben een nieuw</button>
            <button> Ik ben een casual </button>
            <button> Ik ben een pro </button>
        </div>
    </main>

    <div class="table">
        <div class="cell">
          <ul class="dots">
            <li><a href="#">vraag 1</a></li>
            <li><a href="#">vraag 2</a></li>
            <li><a href="#">vraag 3</a></li>
            <li><a href="#">vraag 3</a></li>
          </ul>
        </div>
      </div>
</body>
</html>