<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=/style/main.css>
    <link rel="stylesheet" href="style/home.css">

</head>

<body>

    <header>
        <!-- Hier heb ik gekozen voor het maken van een nav met daarin een ul met vervolgends li items voor het maken van het menu waar
		mensen uit kunnen kiezen.-->
        <nav class="navbar"> <!-- <a href= "https://www.youtube.com/watch?v=flItyHiDm7E"> link naar video die ik heb gebruikt als referentie </a>
		-->
            <div class="logo">
                <img src="/style/images/Untitled_Artwork 71.png" alt="Logo">
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/friends">My Friends</a>
                </li>

                <li>
                    <a href="/instellingenprofiel">My Profile</a>
                </li>

            </ul>

            <!-- Hier heb ik het hamburger menu mee gemaakt, drie streepjes boven elkaar. een "span" staat voor het aangeven van bepaalde 
			content en heb dus hiervoor de span gemaakt om het hamburger menu te worden-->

            <button>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>

    </header>

    <main id="main-content">

        <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">Filters</button>
            <div id="myDropdown" class="dropdown-content">
                <aside>
                    <h3>PvP or CO-Op</h3>
                    <input type="checkbox" name="filter" value="all" id="filter-all">
                    <label for="filter-all">PvP</label>

                    <input type="checkbox" name="filter" value="people" id="filter-people">
                    <label for="filter-people">CO-OP </label>

                    <br>
                    <br>
                    <br>


                    <div class="container" id="genres">
                        <label for="genres">Select Genre(s):</label>
                        <select class="dropdown" id="genre-select" name="genre" multiple>
                            <option value="" disabled selected>Selecteer hier</option>

                        </select>
                       <br><br>



                    </div>

                    <div class="container" id="console">
                        <label for="console"  for="console-select" >Select console(s):</label>
                        <select class="dropdown" id="console-select" name="console" multiple>
                            <option value="" disabled selected>Selecteer hier</option>
                        </select>

                    </div>



                    <br>
                    <br>
                    <br>



                    <br>
                    <br>
                    <br>

                    <button class="buttonHome" onclick="filterGames()">Filter</button>


                </aside>
            </div>
        </div>


        <input type="search" class="search" placeholder="Looking for a specific game?">


        <!-- container voor de games api -->
        <div id="gameContainer"></div>

    </main>


    <script src="/script/script.js"></script>
    <script src="/script/hamburger.js"></script>
    <script src="/script/homeApi.js"></script>
    <script src="/script/genre.js"></script>
    <script src="/script/countries.js"></script>
</body>

</html>