<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"test"</title>
    <link rel="stylesheet" href=/style/info.css>
</head>

<body>
    <header>
		<!-- Hier heb ik gekozen voor het maken van een nav met daarin een ul met vervolgends li items voor het maken van het menu waar
		mensen uit kunnen kiezen.-->
		<nav class="navbar"> <!-- <a href= "https://www.youtube.com/watch?v=flItyHiDm7E"> link naar video die ik heb gebruikt als referentie </a>
		-->
        <div  class="logo">
            <img src="/style/images/Untitled_Artwork 71.png" alt="Logo">
        </div>
			<ul class="nav-links">
				<li >
					<a href="##">Home</a>
				</li>

				<li >
					<a href="##">My Friends</a>
				</li>

				<li >
					<a href="##">My Profile</a>
				</li>

			</ul>

			<!-- Hier heb ik het hamburger menu mee gemaakt, drie streepjes boven elkaar. een "span" staat voor het aangeven van bepaalde 
			content en heb dus hiervoor de span gemaakt om het hamburger menu te worden-->

			<button>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</nav>

	</header>
   

    <script defer src="/script/script.js"></script>

</body>

</html>