<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"test"</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>

    <input type="text" id="gameNameInput" placeholder="Enter game name">
        <button id="searchButton">Search</button>

        <h1> test </h1>

        <div id="gameInfo" class="white-text">

        </div> 

<script src="../static/script/api.js"></script>
</body>
</html>