<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"website naam"</title>
    <link rel="stylesheet" href="\style\style.css">
    <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">

    
</head>
<body>
    <div class="container">
        <h2>Log in or create an account!</h2>
        <div id="error-message"></div>
        <form id="loginForm" method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input id="check" type="submit" value="Log in"></input>                
        </form>
        <a href="/register" id="submit" type="button" value="Add user">Register</a>

    </div>
    <script src="/script/loginerror.js"></script>
</body>
</html>