<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <main>
        <article>
            <h2 id="subvraag"> Vraag 1</h2>
            <h1 id="devraag">Dit is een placeholder voor een vraag </h1>
            <div id="registratievraag">
                <button id="hetantwoord"> Antwoord 1: </button>
                <button id="hetantwoord"> Antwoord 2: </button>
                <button id="hetantwoord"> Antwoord 3: </button>
                <button id="hetantwoord"> Antwoord 4: </button>
            </div>
        </article>

        <nav>
            <ul id='nav-bar'>
                <li class='hole'></li>
                <li class='hole'></li>
                <li class='hole'></li>
                <li class='hole'></li>
              </ul>
        </nav>
        
    </main>
</body>
</html>