<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <main>
        <article>
            <h1 id="devraag">Wat is jouw favoriete genre? </h1>
            <div id="registratievraag">
                <button id="hetantwoord">  </button>
                <button id="hetantwoord"> </button>
                <button id="hetantwoord">  </button>
                <button id="hetantwoord">  </button>
            </div>
        </article>

        <div>
            <button id="volgenderoute"> < </button>
            <button id="volgenderoute"> > </button>
        </div>
        
    </main>
    <script src="/static/script/registratieVraag.js">  </script>
</body>
</html>
