<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend requests</title>

    <link rel="stylesheet" href="\style\style.css">
    <link href="https://fonts.cdnfonts.com/css/techno-race" rel="stylesheet">
    <script> src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"</script>
</head>
<body>
    <h1>Friend requests</h1>
    <table>
        <thead>
            <tr>
                <th><%= user.username %></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% friendRequests.forEach(request => { %>
                <tr>
                    <td><%= request.sender_id %></td>
                    <td>Pending</td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <form action="//<%= user._id %>" method="POST">
        <button type="submit">Accept friend</button>
    </form>
</body>
</html>