<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vriendenlijst</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>Jouw vrienden</h1>
    <div id="friends-list"></div>
    <script src="/script/fetchfriends.js">  </script>
</body>
</html>