
/* Generen van GameInformatie JAVASCRIPT! */
/* ---------------------------------- */
#gameContainer {
    color: white;
}

#gameContainer a {
    margin-top: -1em;
}

#gameContainer img {
    margin-top: 1em;
}














/* Dropdown van voor het filteren */
/* ------------------------------------- */
.dropbtn {
    background-color: #2c3e50 ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2c3e50;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.search{
    color: white;
    margin-top: 6em;
    width: 80%;
    font-size: larger;
}

#myDropdown{
    width: 450%;
}

.container {
    margin-bottom: 20px;
}

.container select{
    width: 80%;
    height: 10em;
    font-size: large;
}
 
label {
    margin-right: 10px;
}
